.overlay {
  height:700px;
  background-image: url(https://images.unoapp.com/boxdata/asset36252/images/paniolos_homepage-background_2000x12801.jpg);
  font-size: 40px;
  font-family: "Courier New";
  color: rgb(247 184 98);
 padding-top: 70px;
}

.ui.image.item.floated {
  height: 380px;
  width: 830px;
}

.ui.centered.grid {
  padding-top:60px;
}
.ui.borderless.menu {
  padding-right: 700px;
  font-size: 20px;
  background-color: #623624;
}


